body {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

*{
  box-sizing: border-box;
}

.main-color{
  color: #d19c58;
}
.secondary-color{
  color: #311a57;
}

nav{
  border-bottom: rgba(49, 26, 86, .2) 1px solid;
  position: sticky;
  top: 0;
  z-index: 3;
}

.nav__logo{
  width: 150px;
}

.nav__logo img{
  width: 100%;
}

.nav__item a{
  color: #8c8d8d;
  cursor: pointer;
  font-size: 18px;
  text-decoration: none;
}

.active, .nav__item a:hover{
  border-bottom: 2px solid #e3c196;
}

.nav__user{
  display: flex;
  gap: 20px;
  align-items: center;
}

.nav__login-button{
  border: 0;
  background-color: transparent;
  font-size: 20px;
}

.nav__login{
  display: flex;
  gap: 10px;
}

.nav__profile-icon{
  width: 40px;
}

.main-carousel__image{
  width: 100%;
  max-height: 700px;
  object-fit: cover;
}

.swiper-button-prev,
.swiper-button-next,
.team__swiper-button {
  background-color: #d19c58;
  height: 50px !important;
  width: 50px !important;
  border-radius: 50%;
  color: #fff;
  border: none;
  font-size: 18px !important;
  /* Add any other styles you want */
}

.swiper-button-prev::after,
.swiper-button-next::after
{
  font-size: 18px !important;
  font-weight: bolder;
  color: white;
}

.section{
  padding: 60px 0;
}

.section__header{
  color: #3a245f;
  font-size: 3rem;
  text-align: center;
  font-weight: bolder;
}

.about__text{
  width: 90%;
  margin: auto;
  font-size: 18px;
}

.contact__input, .contact__textarea{
  border: 1px solid rgba(0, 0, 0, .2);
  font-size: 18px;
}

.contact__submit{
  font-size: 20px;
  padding: 15px;
  background-color: #d19c58;
  color: white;
  border: none;
}

footer{
  padding: 40px;
  background-color: #311a56;
}

.about-main__img img{
  max-width: 300px;
  margin: auto;
}

.about-main__paragraph{
  font-size: 1.2rem;
  color: rgb(111, 111, 111);
}

.about-main__button{
  border-radius: 10px;
  background-color: #d19c58;
  color: white;
  font-size: 25px;
}

.mission__left img{
  max-width: 400px;
}

.mission__right{
  background-color: #311a56;
  color: white;
  text-align: center;
  font-size: 1.2rem;
}

.text-gold{
  color: #d19c58;
}

.team .container{
  border: 1px solid rgba(0, 0, 0, .2);
  border-radius: 25px;
  display: flex;
}



.team__text{
  padding: 20px 30px;
  width: 350px;
}

.team__swiper-buttons{
  display: flex;
  gap: 20px;
}

.team__swiper{
  background-color: #311b57;
  padding: 25px 35px;
  border-radius: 0 25px 25px 0;
  width: calc(100% - 350px);
}

.team__swiper .swiper, .team__swiper .swiper-wrapper{
  height: 100%;
}

.slide{
  background-color: white;
  border-radius: 15px;
  padding: 15px;
  text-align: center;
}

.slide img{
  width: 100%;
  height: 100px;
  object-fit: contain;
  margin-bottom: 15px;
}

.slide__title{
  text-transform: capitalize;
}

.slide__position{
  font-size: 18px;
  color: #d19c58;
  font-weight: bolder;  
  text-transform: capitalize;
}

.slide__social a{
  font-size: 18px;
  color: #311b57;
}

.stats .container{
  background-color: #d19c58;
  border-radius: 20px;
  padding: 50px 100px;
  width: fit-content;
}
.stats__number{
  font-size: 55px;
  color: #311a56;
}

.stats__text{
  font-size: 20px;
  font-weight: bold;
  color: white;
  margin: 0;
}

.contact__textarea{
  width: 100%;
  height: 300px;
}

.contact__left{
  flex-grow: 1;
}
.contact__right{
  width: 35%;
  margin-top: 30px;
}

input, .contact__textarea{
  border-radius: 10px;
  border: 1px solid rgba(0 0 0 / .3);
  padding: 5px 10px;
  margin-bottom: 15px;
}

.contact-form label{
  color: #d19c58;
  font-size: 18px;
  font-weight: bolder;
  margin-bottom: 5px;
}

.contact__social img{
  width: 40px;
  height: 40px;
}

.contact__email{
  color: #d19c58;
}

.contact__sub-title{
  color: #311b57;
  font-size: 18px;
}

input[type="submit"]{
  background-color: #d19c58;
  color: white;
  border: 0;
  font-size: 22px;
  font-weight: bolder;
}

.user-login__cont{
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  transform-origin: top left;
  background-color: white;
  z-index: 2;
  animation-name: popUp;
  animation-duration: .5s;
  width: 100%;
  max-width: 450px;
  text-align: center;
  padding: 20px 30px;
  box-shadow: 0px 0px 10px rgba(0 0 0 /.3);
}

.user-login__logo{
  width: 70px;
}

.login__tab{
  border: 0;
  background-color: white;
  font-size: 18px;
}

.login__tab.active{
  border-bottom: 1px solid #d19c58;
}

.login__methods img{
  width: 40px;
}

.login__close{
  position: absolute;
  top: 0px;
  right: 0px;
  font-size: 20px;
  cursor: pointer;
}

.overlay{
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0 0 0 / .3);
}

@keyframes popUp{
  from{
    scale: 0 0;
  }
  to{
    scale: 1 1;
  }
}

@media (max-width: 1150px) {
  .contact__right{
    width: 40%;
    margin-top: 30px;
  }
}

@media (max-width: 768px){
  .team__text{
    text-align: center;
    margin: auto;
  }
  .team .container{
    display: block;
  }
  .team__swiper{
    width: 100%;
    border-radius: 0 0 25px 25px;
  }
  .team__swiper-buttons{
    justify-content: center;
  }
  .contact__right{
    width: 100%;
    margin-top: 30px;
  }
}